
.detail {
  /* padding: 15px; */
}
.detail__audio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.icon__audio {
  font-size: 26px;
  color: #fff;
}
.detail__image {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.detail__block {
  position: relative;
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.detail__block .img {
  width: 100%;
}
.detail__block .icon__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  margin: auto;
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.detail__block .icon__img::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 6px;
  width: 32px;
  height: 32px;
  z-index: -1;
  background-color: #fff;
  border-radius: 50%;
}
.icon-dui {
  color: #33CC33;
}

.icon-Group- {
  color: #FF0033;
}