.home {

}
.home__wrap {
  padding: 10px;
}
.home__list {
  display: block;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
}